<header class="demo-drawer-header">
  <p>THE NUTCRACKER</p>
  <img [src]="picture" class="demo-avatar">
  <div class="demo-avatar-dropdown">
    <span>{{username}}</span>
    <div class="mdl-layout-spacer"></div>
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"  (click)='FBLogin()'> <i class="fa fa-facebook-official" aria-hidden="true"></i> </button>
    <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
      <i class="material-icons" role="presentation">arrow_drop_down</i>
      <span class="visuallyhidden">Dropdown options from login</span>
    </button>
    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
      <li class="mdl-menu__item">{{this.username}}</li>
    </ul>
  </div>
</header>
