<span *ngFor="let singleStudent of savedStudentsList" class="mdl-layout__header-row">
  <span class="mdl-chip mdl-chip--deletable" (click) = "clickedStudent(singleStudent)">
    <span class="mdl-chip__text">{{ singleStudent }}</span>
    <button type="button" class="mdl-chip__action"><i class="material-icons" (click) = "deleteStudent(singleStudent)">cancel</i></button>
  </span>
</span>

<div *ngIf="fbStatus" class="mdl-layout__header-row">
  <h6>Upcoming activity for:</h6>
</div>

<div *ngIf="!fbStatus" class="mdl-layout__header-row">
  <h6>Login to see your saved students.</h6>
</div>

<div class="mdl-layout__header-row">
  <h5>{{selectedStudent}}</h5>
  <div class="mdl-layout-spacer"></div>
</div>

<div class="mdl-grid demo-content">
  <div *ngFor="let savedStudent of this.performancesList | namePipe:selectedStudent" class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
    <!--Removed for demo purposes: | datePipe:todayFormatted -->
    <h5 class="dateTimeText">
      {{ savedStudent.dateTime | date }} @ {{ savedStudent.dateTime | date:'shortTime' }}
    </h5>
    <h5 class="castText">Cast: {{ savedStudent.cast }}</h5>
    <h5 class="sceneText">Scene: {{ savedStudent.scene }}</h5>
  </div>
</div>
