<div class="user-box">
  <div class="mdl-grid demo-content">
    <h4>Notes on the production run schedule:</h4>
    <ul>
      <li>Parents: Please check your child's bag before you leave for the theater. Make sure they have the required leotard, tights and shoes for ALL roles EACH performance  they are in. There are no extras at the theater.</li>
      <li>Party nad Horn Boys MUST arrive one hour and ten minutes prior to Curtain.</li>
      <li>All other students in Act I MUST arrive one hour prior to Curtain (Party Scene and Soldiers/Cavalry).</li>
      <li>If students are in Act II ONLY they MUST arrive 30 minutes prior to Curtain (Angels, Sugar Plum Attendants and Polichinelles).</li>
      <li>Show times: Act I (45 min), Intermission (20 min), Act II (45 min).</li>
    </ul>
    <p>Thank you,</p><br>
  </div>
  <div class="mdl-grid demo-content">
    <p>Heather Prokhnistki</p>
  </div>

  <div class="mdl-grid demo-content">
    <h4>Notes on the use of this app:</h4>
    <ul>
      <li>Home: Displays the upcoming perfomances dates and curtain times, including cast.</li>
      <li>Login: This app uses Facebook login.</li>
      <li>Students: Select a student from the drop down menu to get information about upcoming perfomances. If logged in you will see a star to set the name in the saved students area.</li>
      <li>Saved: If logged in, it will display your saved students. Click on the name to get specific information about their upcoming performances.</li>
    </ul>
    <p>Thanks and enjoy!</p><br>
  </div>
  <div class="mdl-grid demo-content">
    <p>Oswaldo Salazar</p>
  </div>
</div>
