<div class="demo-avatar-dropdown">
  <form action="#">
    <div class="demo-avatar-dropdown">
      <h6>Select an Academy Student</h6>
      <div class="mdl-layout-spacer"></div>
      <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
        <i class="material-icons" role="presentation">arrow_drop_down</i>
        <span class="visuallyhidden">Dropdown options from login</span>
      </button>
      <div>
        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
          <li *ngFor="let student of allNames" class="mdl-menu__item" (click)='selectStudent(student)'>{{student}}</li>
        </ul>
      </div>
    </div>
  </form>
</div>
<h6>Upcoming activity for {{selectedStudent}}</h6>

<div class="mdl-grid demo-content">
  <div *ngFor="let item of this.performancesList" class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
        {{ item.dateTime | date }}
        @ {{ item.dateTime | date:'shortTime' }}
        Cast: {{ item.cast }}
  </div>
</div>
