<div>
  <label>
    <h5>Select a student from the list:</h5>
  </label>
  <select [(ngModel)]="selectedStudent">
    <option></option>
    <option *ngFor="let student of allNames; let i = index;" [ngValue]="allNames[i]">
    {{ student }}
    </option>
  </select>
</div>
<h6>Upcoming activity for {{selectedStudent}}</h6>
<div class="mdl-grid demo-content">
  <div *ngFor="let student of this.performancesList | namePipe:selectedStudent" class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
    Cast: {{ student.cast }}
    Scene: {{ student.scene }}
    {{ student.dateTime | date }}
    @ {{ student.dateTime | date:'shortTime' }}
  </div>
</div>
